.home-div {
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  margin-top: 50px
  
  
}

.home-view{
  width:300px;
  height:373px;
  /* border: 3px red solid; */
}

.form-view{
  height: 240px;
  margin-top: 100px;
}



.right-col{
  margin-top: -70px;
}

.left-col{
  margin-top: 100px;
}

.right-col .ant-layout  .ant-layout-header{
  position:unset;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-bottom: unset;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: unset;
  background: #99e1e5;
  flex-basis: 80%;
}

.head{
  flex-basis: 10%;
}

.foot {
  flex-basis: 10%;
}
